.content__img {
  grid-column: 1/-1;
  width: 100%;
  margin-bottom: -12px;
  height: 200px;
  overflow: hidden;
  max-width: 100%;

  @include on-tablet {
    margin-bottom: 0;
    height: 400px;
  }

  @include on-desktop {
    height: 460px;
  }

  &__photo {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
  }
}
